#nav-logo {
    color: rgb(241, 123, 112);
    font-size: 35px;
    font-weight: bold;
}

#nav-items1 {
    color: #333d42;
    font-size: 22px;
    margin: 7px;
}

#nav-items2 {
    color: #0d0e0e;
    font-size: 22px;
    margin: 7px;
}

#nav-items3 {
    color: #0b0404;
    font-size: 22px;
    margin: 7px;
}

#nav-items4 {
    color: #0b0404;
    font-size: 22px;
    margin: 7px;
}

#nav-items5 {
    color: #0b0404;
    font-size: 22px;
    margin: 7px;
}

#nav-items1:hover {
    cursor: pointer;
    color: rgb(241, 123, 112);
    font-size: 25px;
}

#nav-items2:hover {
    cursor: pointer;
    color: rgb(241, 123, 112);
    font-size: 25px;
}

#nav-items3:hover {
    cursor: pointer;
    color: rgb(241, 123, 112);
    font-size: 25px;
}

#nav-items4:hover {
    cursor: pointer;
    color: rgb(241, 123, 112);
    font-size: 25px;
}

#nav-items5:hover {
    cursor: pointer;
    color: rgb(236, 124, 113);
    font-size: 25px;
}

#search-box {
    border-radius: 5px;
    text-align: center;
    border: solid;
    border-color: antiquewhite;
    width: 136px;
    height: 45px;
    width: 250px;
    margin-right: 15px;
}

.home-section-bg-contaner {
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.account-section-logo {
    font-size: 25px;
    color: rgb(67, 65, 65);
    margin-right: 25px;
}

.rside-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
}

.order-section-logo {
    font-size: 25px;
    color: rgb(67, 65, 65);
    margin-right: 20px;
}

.home-section-main-heading {
    font-family: "roboto";
    font-weight: 600;
    font-size: 45px;
    background-image: linear-gradient(to top, rgb(6, 6, 6), rgb(3, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-section-discription {
    font-family: "roboto";
    font-weight: 200;
    font-size: 25px;
    color: rgb(14, 12, 12)te;
    background-image: linear-gradient(to top, rgb(8, 8, 8), rgb(8, 9, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-section-shopnow-button {
    padding: 9px;
    height: 45px;
    background-color: rgb(241, 123, 112);
    width: 225px;
    border-radius: 20px;
    border: 0px;
    color: aliceblue;
}

.home-section-viewcollections-button {
    padding: 9px;
    height: 45px;
    width: 225px;
    border: 0px;
    border-radius: 20px;
}

.footer-bg-container {
    background-color: rgb(242, 212, 174);
    background-size: COVER;
    font-family: "ROBOTO";
}

.footer-sectin-heaind {
    color: rgb(243, 95, 81);
    font-weight: bold;
    font-size: 20PX;
}

.footer-section-small-discription {
    color: rgb(133, 131, 131);
    font-size: 15px;
}

.footer-section-quick-link-heading {
    font-size: 18px;
    font-weight: bold;
}

.footer-section-unorder-list-container {
    list-style-type: none;
    font-size: 15px;
    color: rgb(133, 131, 131);
}

.footer-section-customer-servis-list-container {
    font-size: 18px;
    font-weight: bold;
}

.footer-section-customer-section-list-container {
    list-style-type: none;
    font-size: 15px;
    color: rgb(133, 131, 131);
}

.footer-stay-connect-heading {
    font-size: 18px;
    font-weight: bold;
}

.stay-connect-paragraph {
    color: rgb(133, 131, 131);
    font-size: 15px;
}


/*  jewerly style. */

.jewelry-section-bg-container {
    background-color: #FFFFFF;
    background-size: cover;
    font-family: "roboto";
}

.product-card-container:hover {
    cursor: pointer;
    color: rgb(241, 123, 112);
}

.product-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-carad-subheading {
    color: #B3B1B1;
    padding: 2px;
    font-size: 18px;
    font-weight: 200;
}

.product-name {
    font-size: 25px;
    font-weight: 400;
    font-family: "conva";
}

.product-card-container {
    border: solid;
    border-radius: 15px;
    border-width: 0px;
}

.rupess {
    font-size: 25px;
}

.product-order-button {
    padding: 10px;
    height: 45px;
    border-width: 0px;
    border-color: rgb(234, 198, 152);
    text-align: left;
    background-color: rgb(241, 123, 112);
    border-radius: 8px;
    color: #ffffff;
}


/*  watches style. */

.whatche-section-bg-container {
    background-color: #f8f4f4;
    background-size: cover;
    font-family: "roboto";
    margin-top: 10px;
}

.product-card-container:hover {
    cursor: pointer;
    color: rgb(241, 123, 112);
}

.product-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-carad-subheading {
    color: #B3B1B1;
    padding: 2px;
    font-size: 18px;
    font-weight: 200;
}

.product-name {
    font-size: 20px;
    font-weight: 400;
    font-family: "conva";
}

.product-card-container {
    border: solid;
    border-radius: 15px;
    border-width: 0px;
}

.rupess {
    font-size: 25px;
}

.product-order-button {
    padding: 10px;
    height: 45px;
    border-width: 0px;
    border-color: rgb(234, 198, 152);
    text-align: left;
    background-color: rgb(241, 123, 112);
    border-radius: 8px;
    color: #ffffff;
}


/* bags style. */

.items-container {
    margin-bottom: 200px;
}

.bag-section-main-heading {
    font-weight: bold;
    font-size: 45px;
}

.bag-section-bg-container {
    background-color: #FFFFFF;
    background-size: cover;
    font-family: "roboto";
}

.product-card-container:hover {
    cursor: pointer;
    color: rgb(241, 123, 112);
}

.product-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-carad-subheading {
    color: #B3B1B1;
    padding: 2px;
    font-size: 18px;
    font-weight: 200;
}

.product-name {
    font-size: 25px;
    font-weight: 400;
    font-family: "conva";
}

.product-card-container {
    border: solid;
    border-radius: 15px;
    border-width: 0px;
}

.rupess {
    font-size: 25px;
}

.product-order-button {
    padding: 10px;
    height: 45px;
    border-width: 0px;
    border-color: rgb(234, 198, 152);
    text-align: left;
    background-color: rgb(241, 123, 112);
    border-radius: 8px;
    color: #ffffff;
}
